input[type=radio]+label:before{
  content: "";
  display: inline-block;
  background-size: contain;
  width: 140px;
  height: 140px;
}
input[type=radio][value="small"]+label:before{
  background-image: url(./img/small.png);
}
input[type=radio][value="medium"]+label:before{
  background-image: url(./img/medium.png);
}
input[type=radio][value="large"]+label:before{
  background-image: url(./img/large.png);
}
input[type=radio]:checked+label::before{
  border: 3px solid #000;
  box-sizing: border-box;
}
input[type=radio]{
  display: none;
}
